/* your styles go here */
.home {
    background:
	linear-gradient(
		rgba(0,0,0,.45),
		rgba(0,0,0,.45)
		), url("../img/pexels-photo-257736.jpeg");
    /* background-image: url("../img/pexels-photo-257736.jpeg") !important; */
    background-position-y: 50%;
    background-size: cover;
}

.colorBackground {
    background-color: #80aaf8;
}

.link-button {
    text-align: center;
    border-radius: 20px;
    width: 200px;
}

/* ===================================================================
   MEDIA QUERIES FOR IMAGE IN PRODUCTS SECTION
===================================================================  */

@media (max-width:991px) {
    section.newsletter #seimens img {
        text-align: center;
    }
    section.newsletter #sassin img {
        text-align: center;
    }
}

@media (max-width:770px) {
    section.newsletter #seimens img {
        width: 100%;
    }
}